{% extends 'different/layout.html' %}

{% block title %} Welcome {% endblock %}

{% block body %}

<div class="mx-auto text-center">
<section class="hero">

    <div class="content">
      <h2 >Welcome to <span style="color:navajowhite">#mybucketlist</span></h2>
      <p style="max-width:600px;" class="text-center mx-auto">A simple application to help you fullfill those things you have always wanted to do , but never ended up doing!</p>
      <hr style="width:50%" class="mx-auto">
      <br>
    <div class="mx-auto" style="max-width:600px;">
      <h3 class="text-start">Features</h3>
      <p class="text-start">1. My Bucket - Add to the endless list of things you have always wanted to do, but never did!</p>
      <p class="text-end">2. Random Activities - Complete an extremely random activity to get rid of your boredom!</p>
      <p class="text-start">3. My Schedule - A random task from your bucket list for you to complete!</p>
      <p class="text-end">4. Connect - A chance to interact with people in your area and make time for friends!</p>
      <p class="text-start">5. Share - Share completed items with other users and read from experiences of other users.</p>
      <p class="text-end">6. Daily Quote - An inspirational quote to boost your motivation each day!</p>

    </div>
      </div>

  </section>

</div>


{% endblock %}